@page "/{year}/{month}/{day}/{slug}"
@model FizzyLogic.Pages.ArticlePageModel
@{
    ViewBag.Title = @Model.Article.Title;
}
@section Head {
    <meta property="og:title" value="@Model.Article.Title">
    <meta property="og:description" value="@Model.Article.Excerpt">
    @if(!string.IsNullOrEmpty(Model.Article.FeaturedImage))
    {
        <meta property="og:image" value="@Model.Article.FeaturedImage">
    }
    <meta property="og:url" value="@Url.Article(Model.Article)"/>
    <meta property="twitter:title" value="@Model.Article.Title">
    <meta property="twitter:description" value="@Model.Article.Excerpt">
    @if(!string.IsNullOrEmpty(Model.Article.FeaturedImage))
    {
        <meta property="twitter:image" value="@Model.Article.FeaturedImage">
    }
    <meta property="twitter:card" value="summary_large_image"/>
    <meta property="twitter:site" value="@@willem_meints"/>
    <meta property="og:site_name" content="Willem's Fizzy Logic">
    <meta property="og:type" value="article"/>
    <meta name="twitter:label1" value="Written by"/>
    <meta name="twitter:data1" value="Willem Meints"/>
}
<div class="container">
    @if(!string.IsNullOrEmpty(Model.Article.FeaturedImage))
    {
        <div class="row mb-4 justify-content-center">
            <div class="col-12 col-md-9">
                <div class="header-image rounded-3" style="background-image: url('@Model.Article.FeaturedImage');"></div>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <article>
                <header>
                    <div class="row">
                        <div class="col">

                            <h1>@Model.Article.Title</h1>
                            <p class="small text-muted">
                                Published @Model.Article.DatePublished<br/>
                                Filed under <a asp-page="/Category" asp-route-slug="@Model.Article.Category.Slug">@Model.Article.Category.Title</a>
                            </p>

                        </div>
                    </div>
                </header>
                <div class="row">
                    <div class="col">
                        <main class="article-content">
                            @Html.Raw(Model.Article.Html)
                        </main>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-7">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = 'https://fizzylogic.nl/@Url.Article(Model.Article)';
                    this.page.identifier = '@($"{Model.Article.Id}-{Model.Article.Slug}")';
                    this.page.title = '@Model.Article.Title';
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://fizzylogic.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>
</div>